@import url("https://fonts.googleapis.com/css2?family=Asar&family=Berkshire+Swash&family=Caveat:wght@500&family=Felipa&family=Great+Vibes&family=Island+Moments&family=Italianno&family=M+PLUS+1+Code&family=Marcellus&family=Marcellus+SC&family=Montserrat:wght@300;400&family=Niconne&family=Nunito+Sans&family=Righteous&family=Roboto:ital,wght@0,400;0,500;1,300&family=Source+Serif+4:ital,wght@1,600&family=Tangerine:wght@700&family=The+Nautigal:wght@700&display=swap");

.theHeader {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
}
.task {
  background: rgba(228, 224, 224, 0.644);
  padding: 0.5em 1em;
  width: 75%;
  border-radius: 0.4em;
}
.t-container {
  display: flex;
  flex-flow: column;
  row-gap: 1em;
  align-items: center;
  margin-top: 2em;
}
.xbutton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
}
.add-form input[type="text"] {
  border-radius: 0.5em;
  padding: 0.8em;
  font-size: 1.2em;
  border: 2px solid rgb(226, 215, 164);
  background: rgba(241, 231, 231, 0.603);
  max-width: 70%;
}
.add-form label {
}
.addcontainer {
  display: flex;
  justify-content: center;
}
.form-control {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.reminder {
  display: none;
}
.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}
.form-control label {
  font-size: 1.2em;
  font-family: "Nunito Sans", sans-serif;
}
.header-title {
  font-family: "Marcellus", serif;
  font-weight: 300;
}
.btns {
  font-size: 2em;
  border-radius: 0.4em;
  width: min(90vw, 300px);
  padding: 0.2em 0.3em;
  background: rgb(7, 17, 3);
  color: aliceblue;
  box-shadow: 2px 4px 8px rgb(138, 133, 133);

  transition: box-shadow 0.2s, color 0.3s;
}
.btns:hover {
  cursor: pointer;
}
.btns:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px rgb(10, 15, 7);
}
.container {
  margin: 2em;
}
.submit-btn {
  font-size: 1em;
  padding: 0.3em 0.5em;
  font-family: "Nunito Sans", sans-serif;
  background: linear-gradient(
    to right,
    rgb(46, 155, 42) 50%,
    rgb(148, 218, 130) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border-style: none;
  color: black;
  width: min(90vw, 300px);
  border-radius: 0.3em;
  padding: 0.8em 0;
  margin-top: 1em;
}
.submit-btn:hover {
  cursor: pointer;
  color: white;
  background-position: left bottom;
}
.addcontainer {
  margin-top: 2em;
}
.deletebutton {
  font-size: 1.8em;
  color: red;
  transition: color 1s;
}
.deletebutton:hover {
  cursor: pointer;
  color: rgb(207, 164, 24);
}
